* {
	box-sizing: border-box;
}

nav {
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	font-family: Roboto, sans-serif;
	color: black;
	text-transform: uppercase;
	border: black solid 2px;
	border-radius: 8px;
	padding: 5px;
}

li {
	list-style-type: none;
	text-align: center;
	display: inline-block;
	margin-right: 100px;
}

li:last-child {
	margin-right: 0;
}

ul {
	text-align: center;
	padding: 0;
	margin: 0;
}